operator
minio-operator
!minio-operator/
!operator/
!tenant/
.idea/
dist/
kubectl-minio/kubectl-minio
*.minisig
*.zip
kubectl-minio/crds
*.log
.vscode
minio.yaml
nancy
examples/.DS_Store
testing/openshift/bundle/*
examples/**/obj/
.idea