{{- if .Values.console.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: console-sa-role
  labels: {{- include "minio-operator.console-labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - patch
      - update
      - delete
      - deletecollection
      {{- end }}
  - apiGroups:
      - ""
    resources:
      - namespaces
      - services
      - events
      - resourcequotas
      - nodes
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - patch
      {{- end }}
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - patch
      - delete
      - deletecollection
      {{- end }}
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - update
      - deletecollection
      {{- end }}
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - patch
      {{- end }}
  - apiGroups:
      - apps
    resources:
      - statefulsets
      - deployments
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - patch
      - update
      - delete
      {{- end }}
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - patch
      - update
      - delete
      {{- end }}
  - apiGroups:
      - certificates.k8s.io
    resources:
      - certificatesigningrequests
      - certificatesigningrequests/approval
      - certificatesigningrequests/status
    verbs:
      - get
      - list
      {{- if not .Values.console.readOnly }}
      - update
      - create
      - delete
      {{- end }}
  - apiGroups:
      - minio.min.io
    resources:
      - '*'
    verbs:
      - '*'
  - apiGroups:
      - min.io
    resources:
      - '*'
    verbs:
      {{- if not .Values.console.readOnly }}
      - get
      - list
      - watch
      {{- else }}
      - '*'
      {{- end }}
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - delete
      {{- end }}
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - update
      {{- end }}
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - update
      - patch
      {{- end }}
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshots
    verbs:
      - get
      - list
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshotcontents
    verbs:
      - get
      - list
  - apiGroups:
      - storage.k8s.io
    resources:
      - csinodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - storage.k8s.io
    resources:
      - volumeattachments
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - endpoints
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - update
      - delete
      {{- end }}
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - update
      - delete
      {{- end }}
  - apiGroups:
      - direct.csi.min.io
    resources:
      - volumes
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - update
      - delete
      {{- end }}
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - update
      - delete
      {{- end }}
  - apiGroups:
      - direct.csi.min.io
    resources:
      - directcsidrives
      - directcsivolumes
    verbs:
      - get
      - list
      - watch
      {{- if not .Values.console.readOnly }}
      - create
      - update
      - delete
      {{- end }}
  - apiGroups:
      - ""
    resources:
      - pod
      - pods/log
    verbs:
      - get
      - list
      - watch
{{- end }}
