apiVersion: v1
kind: Service
metadata:
  name: "console"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "minio-operator.labels" . | nindent 4 }}
spec:
  ports:
  - name: http
    port: 9090
  - name: https
    port: 9443
  selector:
    {{- include "minio-operator.console-selectorLabels" . | nindent 4 }}
