{{- if .Values.console.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: console-env
  namespace: {{ .Release.Namespace }}
data:
  CONSOLE_PORT: "9090"
  CONSOLE_TLS_PORT: "9443"
{{- end }}
