namespace: minio-operator

resources:
- bases/minio-operator.clusterserviceversion.yaml
- bases/minio-operator-rhmp.clusterserviceversion.yaml
- ../../resources/
- ../../samples/


patches:
- patch: |-
    - op: remove
      path: /spec/template/spec/containers/0/securityContext/runAsGroup
    - op: remove
      path: /spec/template/spec/containers/0/securityContext/runAsUser
    - op: remove
      path: /spec/template/spec/containers/0/securityContext/runAsNonRoot
  target:
    group: apps
    kind: Deployment
    name: minio-operator
    namespace: minio-operator
    version: v1
- path: overlay/minio-operator-deployment.yaml
- path: overlay/sts_v1_service.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
