apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tenant-certmanager

resources:
  - tenant-certmanager-issuer.yaml
  - tenant-certmanager-ca-certificate.yaml
  - tenant-certmanager-myminio-certificate.yaml
  - ../base

patches:
  - path: tenant.yaml
