name: Tenant Tests On Kind
on:
  pull_request:
    branches: [ master ]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true
jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -e SC2046 -e SC1091 -e SC2086 -e SC2090 -e SC2089 -e SC2006 -e SC2206
      - name: Run nancy vulnerability report
        run: |
          nancy_version=$(curl --retry 10 -Ls -o /dev/null -w "%{url_effective}" https://github.com/sonatype-nexus-community/nancy/releases/latest | sed "s/https:\/\/github.com\/sonatype-nexus-community\/nancy\/releases\/tag\///")
          curl -L -o nancy https://github.com/sonatype-nexus-community/nancy/releases/download/${nancy_version}/nancy-${nancy_version}-linux-amd64 && chmod +x nancy
          go list -deps -json ./... | jq -s 'unique_by(.Module.Path)|.[]|select(has("Module"))|.Module' | ./nancy sleuth
  lint:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Lint
        run: |
          make lint
  govet:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: govet
        run: |
          make govet
  vulnerable-dependencies-checks:
    name: "Check for vulnerable dependencies"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ 1.19 ]
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
          check-latest: true
      - name: Get govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
        shell: bash
      - name: Run govulncheck
        run: govulncheck ./...
        shell: bash
  gotest:
    runs-on: ${{ matrix.os }}
    needs:
      - lint
      - vulnerable-dependencies-checks
      - govet
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Go Test
        run: |
          make gotest
  logsearch:
    runs-on: ${{ matrix.os }}
    needs:
      - lint
      - vulnerable-dependencies-checks
      - govet
      - shellcheck
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/cache@v3
        name: Logsearch API Binary Cache
        with:
          path: |
            ./logsearchapi-bin
          key: ${{ runner.os }}-logsearchbinary-${{ github.run_id }}
      - name: Logsearch Binary
        run: |
          make logsearchapi
  operator:
    runs-on: ${{ matrix.os }}
    needs:
      - lint
      - vulnerable-dependencies-checks
      - govet
      - shellcheck
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/cache@v3
        name: Operator Binary Cache
        with:
          path: |
            ./minio-operator
          key: ${{ runner.os }}-binary-${{ github.run_id }}
      - name: Operator Binary
        run: |
          make operator
  test-tenant:
    runs-on: ${{ matrix.os }}
    needs:
      - logsearch
      - operator
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/cache@v3
        name: Operator Binary Cache
        with:
          path: |
            ./minio-operator
          key: ${{ runner.os }}-binary-${{ github.run_id }}
      - uses: actions/cache@v3
        name: Logsearch API Binary Cache
        with:
          path: |
            ./logsearchapi-bin
          key: ${{ runner.os }}-logsearchbinary-${{ github.run_id }}
      - name: Prometheus test on Kind
        run: |
          "${GITHUB_WORKSPACE}/testing/deploy-tenant.sh"
  test-tenant-upgrade:
    runs-on: ${{ matrix.os }}
    needs:
      - logsearch
      - operator
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/cache@v3
        name: Operator Binary Cache
        with:
          path: |
            ./minio-operator
          key: ${{ runner.os }}-binary-${{ github.run_id }}
      - uses: actions/cache@v3
        name: Logsearch API Binary Cache
        with:
          path: |
            ./logsearchapi-bin
          key: ${{ runner.os }}-logsearchbinary-${{ github.run_id }}
      - name: Tenant upgrade test on Kind
        run: |
          "${GITHUB_WORKSPACE}/testing/deploy-tenant-upgrade.sh"
  test-prometheus:
    runs-on: ${{ matrix.os }}
    needs:
      - logsearch
      - operator
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/cache@v3
        name: Operator Binary Cache
        with:
          path: |
            ./minio-operator
          key: ${{ runner.os }}-binary-${{ github.run_id }}
      - uses: actions/cache@v3
        name: Logsearch API Binary Cache
        with:
          path: |
            ./logsearchapi-bin
          key: ${{ runner.os }}-logsearchbinary-${{ github.run_id }}
      - name: Prometheus test on Kind
        run: |
          "${GITHUB_WORKSPACE}/testing/check-prometheus.sh"

  test-logs:
    runs-on: ${{ matrix.os }}
    needs:
      - logsearch
      - operator
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/cache@v3
        name: Operator Binary Cache
        with:
          path: |
            ./minio-operator
          key: ${{ runner.os }}-binary-${{ github.run_id }}
      - uses: actions/cache@v3
        name: Logsearch API Binary Cache
        with:
          path: |
            ./logsearchapi-bin
          key: ${{ runner.os }}-logsearchbinary-${{ github.run_id }}
      - name: Prometheus test on Kind
        run: |
          "${GITHUB_WORKSPACE}/testing/check-logs.sh"

  test-kes:
    runs-on: ${{ matrix.os }}
    needs:
      - logsearch
      - operator
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/cache@v3
        name: Operator Binary Cache
        with:
          path: |
            ./minio-operator
          key: ${{ runner.os }}-binary-${{ github.run_id }}
      - uses: actions/cache@v3
        name: Logsearch API Binary Cache
        with:
          path: |
            ./logsearchapi-bin
          key: ${{ runner.os }}-logsearchbinary-${{ github.run_id }}
      - name: Tenant KES
        run: |
          "${GITHUB_WORKSPACE}/testing/console-tenant+kes.sh"

  test-policy-binding:
    runs-on: ${{ matrix.os }}
    needs:
      - logsearch
      - operator
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/cache@v3
        name: Operator Binary Cache
        with:
          path: |
            ./minio-operator
          key: ${{ runner.os }}-binary-${{ github.run_id }}
      - uses: actions/cache@v3
        name: Logsearch API Binary Cache
        with:
          path: |
            ./logsearchapi-bin
          key: ${{ runner.os }}-logsearchbinary-${{ github.run_id }}
      - name: Test PolicyBinding CRD and sts call on kind
        run: |
          "${GITHUB_WORKSPACE}/testing/test-policy-binding.sh"

  helm:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    needs:
      - logsearch
      - operator
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/cache@v3
        name: Operator Binary Cache
        with:
          path: |
            ./minio-operator
          key: ${{ runner.os }}-binary-${{ github.run_id }}
      - uses: actions/cache@v3
        name: Logsearch API Binary Cache
        with:
          path: |
            ./logsearchapi-bin
          key: ${{ runner.os }}-logsearchbinary-${{ github.run_id }}

      # Runs a set of commands using the runners shell
      - name: Deploy a MinIO Tenant on Kind
        run: |
          curl -sLO "https://dl.k8s.io/release/v1.23.1/bin/linux/amd64/kubectl" -o kubectl
          chmod +x kubectl
          mv kubectl /usr/local/bin
          "${GITHUB_WORKSPACE}/testing/check-helm.sh"
  helm-floor:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    needs:
      - logsearch
      - operator
    strategy:
      matrix:
        go-version: [ 1.20.x ]
        os: [ ubuntu-latest ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/cache@v3
        name: Operator Binary Cache
        with:
          path: |
            ./minio-operator
          key: ${{ runner.os }}-binary-${{ github.run_id }}
      - uses: actions/cache@v3
        name: Logsearch API Binary Cache
        with:
          path: |
            ./logsearchapi-bin
          key: ${{ runner.os }}-logsearchbinary-${{ github.run_id }}

      # Runs a set of commands using the runners shell
      - name: Deploy a MinIO Tenant on Kind
        env:
          TEST_FLOOR: true
        run: |
          curl -sLO "https://dl.k8s.io/release/v1.23.1/bin/linux/amd64/kubectl" -o kubectl
          chmod +x kubectl
          mv kubectl /usr/local/bin
          "${GITHUB_WORKSPACE}/testing/check-helm.sh"
